<!DOCTYPE html>
<html>
  <head><title>ADC Change Password</title></head>
  <body>
    <form action="{{ URL }}" method=post>
    <dl>
      <dt>Username:
      <dd><pre>{{ username }}</pre>
      <dt>Current Password:
      <dd><input type=password name=password_old>
      <dt>New Password:
      <dd><input type=password name=password_new1>
      <dt>New Password again:
      <dd><input type=password name=password_new2>
      <dd><input type=submit value=Change>
    </dl>
    </form>
  </body>
</html>
